@font-face {
  font-family: 'professionalFont';
  src: url(../public/fonts/FontsFree-Net-SFProDisplay-Medium.ttf) format('truetype');
}


::-webkit-scrollbar {
  width: 0.5rem;
  overflow: hidden;
}
::-webkit-scrollbar-track {
  background: #212121;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  box-shadow: 0 -100vh 0 100vh #212121, 0 0 15px 5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: initial;
}

:root {
  font-size: 62.5%;
  --main-font-family: 'Syncopate', sans-serif;
  --secondary-font-family: 'professionalFont', sans-serif;
  --thirtiary-font-family: 'Bai Jamjuree', sans-serif;
  --surface-color: #fff;
  --curve: 40;
}

body {
  background: #EBF8EB;
  font-size: 1.6rem;
}

h1, p, h3, h5 {
  z-index: 3;
}

iframe {
  width: 100%;
  height: 100vh;
}

/* Split Text */

.lineChildren {
  transform: translateY(20);
  opacity: 1;
  font-family: var(--thirtiary-font-family);
}

.lineText {
  transform: translateY(100vh);
}

.lineTextParent {
  overflow: hidden;
}

/*  */  











